@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* media quiere to adjust the webpage according the device  */

@media only screen and (max-width :445px){
    
    header h1{
        font-size: 20px;
    }
    .navbar a {
        color: white;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        padding: 5px;
    }
    nav ol li{
        list-style: none;
        display: inline;
        margin: 2px;
    }
    .navbar{
        padding: 10px 0px 0px 0px;
    }
    
}
.navbar a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
   
}
nav ol li{
    list-style: none;
    display: inline;
    margin: 5px;
}
nav ol{
    display: flex;
    justify-content: center;
}
a:hover {
    color: red;
    background-color: white;
    border-radius: 20%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    
    background-color: red;
    color: white;
    padding: 10px;
    position: sticky;
    top:  -78px;
}

header h1 {
    text-align: center;
    padding: 15px;
}

section{
    margin: 2vw;
    
}
.articals{
    display: flex;
    justify-content: center ;
}
.articals section{
 width: 50vw;
}


div p{
    background-color:rgb(0, 187, 255);
    color: white;
}
div > p:first-child{
    background-color: red;
    color: white;
} 
.chatbot{
    position: fixed;
    right:0vw;
    bottom: 0vh;
}
footer{
    background-color: #323232;
    color: rgb(192, 192, 192);
    text-align: center;
    height: 20vh;
}
section img{
    width: 170px;
    height: 100px;
    object-fit: cover;
}